In [2]:
import pandas as pd
import datetime
import pandas.io.data as web

C:\Users\Arko\Anaconda3\lib\site-packages\pandas\io\data.py:35: FutureWarning:
The pandas.io.data module is moved to a separate package (pandas-datareader) and will be removed from pandas in a future version.
After installing the pandas-datareader package (https://github.com/pydata/pandas-datareader), you can change the import ``from pandas.io import data, wb`` to ``from pandas_datareader import data, wb``.
  FutureWarning)

In [5]:
start = datetime.datetime(2010,1,1)
end = datetime.datetime(2015,12,31)
#pull data for Exxon from the Yahoo Finance API, storing the data to a dataframe
data = web.DataReader("XOM","yahoo",start,end)
print(data.head())

                 Open       High        Low      Close    Volume  Adj Close
Date
2010-01-04  68.720001  69.260002  68.190002  69.150002  27809100  57.203028
2010-01-05  69.190002  69.449997  68.800003  69.419998  30174700  57.426378
2010-01-06  69.449997  70.599998  69.339996  70.019997  35044700  57.922715
2010-01-07  69.900002  70.059998  69.419998  69.800003  27192100  57.740730
2010-01-08  69.690002  69.750000  69.220001  69.519997  24891800  57.509100

In [19]:
import matplotlib.pyplot as plt
from matplotlib import style
#specify the graphical style to be used
style.use('fivethirtyeight')
#style.use('seaborn-white')

In [8]:
data['High'].plot()
plt.title("variation of High value")
plt.xlabel("Date")
plt.ylabel("Stock price")
plt.legend()
plt.show()

In [9]:
#converting a dictionary to a dataframe
web_stats = {'Day':[1,2,3,4,5,6],
             'Visitors':[43,34,65,56,29,76],
             'Bounce Rate':[65,67,78,65,45,52]}
df = pd.DataFrame(web_stats)
df.tail(5)

   Bounce Rate  Day  Visitors
1           67    2        34
2           78    3        65
3           65    4        56
4           45    5        29
5           52    6        76

You can see here how there are these numbers on the left, 0,1,2,3,4,5 and so on, like line numbers. These numbers are actually your "index." The index of a dataframe is what the data is related by, ordered by...etc. Generally, it is going to be the variable that connects all of the data. In this case, we never defined anything for this purpose, and it would be a challenge for Pandas to just somehow "know" what that variable was. Thus, when you do not define an index, Pandas will just make one for you like this. Looking at the data set right now, do you see a column that connects the others?
The "Day" column fits that bill! Generally, if you have any dated data, the date will be the "index" as this is how all of the data points relate.
Now you can see that those line numbers are gone, and also notice how "Day" is lower than the other column headers, this is done to denote the index

In [10]:
df.set_index("Day",inplace=True)
df.tail(5)

     Bounce Rate  Visitors
Day
2             67        34
3             78        65
4             65        56
5             45        29
6             52        76

In [11]:
df['Visitors'].head(3)

Day
1    43
2    34
3    65
Name: Visitors, dtype: int64

In [18]:
#plot separately
df['Visitors'].plot(color = 'g')
df['Bounce Rate'].plot(color = 'r')
plt.title("Number of visitors by day")
plt.legend()
plt.show()

In [21]:
#plot simultaneously
df[['Visitors','Bounce Rate']].plot(color = ('r','g'))
plt.legend()
plt.show()

In [9]:
#scrape data from wikipedia page
import html5lib
data = pd.read_html("https://simple.wikipedia.org/wiki/List_of_U.S._states")
print(type(data))
#since this is a list of dataframes, we take the first dataframe
data_to_use = data[0]
data_to_use.head()

<class 'list'>

              0           1            2                  3
0  Abbreviation  State Name      Capital     Became a State
1            AL     Alabama   Montgomery  December 14, 1819
2            AK      Alaska       Juneau    January 3, 1959
3            AZ     Arizona      Phoenix  February 14, 1912
4            AR    Arkansas  Little Rock      June 15, 1836

In [10]:
#setting first row as header
data_to_use.columns = data_to_use.iloc[0]
data_to_use = data_to_use[1:]
data_to_use.head()

0 Abbreviation  State Name      Capital     Became a State
1           AL     Alabama   Montgomery  December 14, 1819
2           AK      Alaska       Juneau    January 3, 1959
3           AZ     Arizona      Phoenix  February 14, 1912
4           AR    Arkansas  Little Rock      June 15, 1836
5           CA  California   Sacramento  September 9, 1850